@tailwind base;
@tailwind components;
@tailwind utilities;

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contactsList {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
