.container {
  width: 100%;
  padding: 20px;
}

ul {
  display: grid; /* Використовуємо grid для розміщення карток */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Створюємо колонки з мінімальною шириною 250px */
  gap: 16px; /* Відступи між картками */
  list-style: none;
  padding: 0;
  margin: 0; /* Задаємо нульовий margin для ul, щоб уникнути непотрібних відступів */
}

li {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
